@import "compass/reset";
@import "compass";

@mixin button($color, $fg-color:#ffffff) {
  $height: 32px;
  @include box-shadow(none);
  @include transition-property(background);
  @include transition-duration(.3s);
  @include inline-block(middle);
  background: $color;
  font-size: 14px;
  font-weight: 300;
  height: $height + 2px;
  padding: 0px ($height * .8);
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  color: $fg-color;

  &:hover {
    background: lighten($color, 5%);
  }

  &:active {
    @include transition-duration(0s);
    background: desaturate($color, 20%);
    color: darken($color, 20%);
  }

  &.disabled {
    -webkit-appearance: none;
  }

  &:focus {
    outline: none;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  > header {
    margin: 10px auto;
    padding: 0 25px;
    min-width: 860px;
    max-width: 1200px;
    overflow: hidden;
    min-height: 40px;
    margin-top: 20px;
    h1 {
      float: left;
      font-size: 30px;
    }
    h1, dl {
      line-height: 30px;
    }
  }
}

#content {
  margin: 10px auto;
  padding: 0 25px;
  min-width: 860px;
  max-width: 1200px;
}

#login, .wait {
  @include border-radius(10px);
  border: 1px solid #ccc;
  padding: 50px;
  clear: both;
  width: 340px;
  margin: 10px auto;

}

#login {
  p {
    margin: 0 0 12px;
  }

  form {
    button {
      @include button(#e33333);
    }

    input[type=text] {
      margin: 0 4px 0 0;
      line-height: 22px;
      height: 22px;
      width: 230px;
      padding: 5px;
    }
  }

  .key:after {
    content: ": "
  }

  .value {
    font-weight: bold;
  }
}

.wait {
  h2 {
    font-size: 24px;
    margin: 0 0 24px;
  }

  #answers {
    line-height: 1.5;
    .player {
      min-width: 100px;
      display: inline-block;
    }
    .answer {
      font-weight: bold;
    }
  }
}

#stats {
  float: right;
  margin: 0 0 12px;

  dt, dd {
    display: inline;
  }

  dt:after {
    content: ": "
  }

  dd {
    font-weight: bold;
  }
}

#board {
  clear: both;

  ul#slots {
    width: 100%;
    border: 1px solid #ccc;
    list-style: none;
    overflow: hidden;

    > li {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px 0;
      min-height: 400px;
      height: 400px;
      float: left;
      width: 12.5%;
      border-left: 1px solid #ccc;
      text-align: center;

      &:first-child {
        background-color: #eee;
        border-left: 0 none;
        p {
          font-size: 18px;
          margin-top: 44px;
        }
      }

      p {
        font-weight: bold;
        margin: 10px 0;
        line-height: 24px;
      }

      .answer {
        font-size: 24px;
      }

      .authors {
        font-size: 16px;
      }

      .author {
        @include border-radius(20px);
        height: 40px;
        width: 40px;
        margin: 0 auto;
      }

      small {
        color: #999;
        display: block;
        font-size: 12px;
        width: 100%;
      }

      .bids {
        border-top: 1px dashed #ccc;
        padding-top: 10px;
      }

      li {
        line-height: 40px;
        margin: 8px 0;
        font-size: 20px;
        color: #666;

        &.me {
          @include background-image(linear-gradient(#fff, #fafafa, #ddd));
          @include border-radius(3px);
          padding: 10px 0;
          margin-left: 10px;
          margin-right: 10px;
          line-height: 1;
          height: 40px;
          cursor: move;
          .bidder {
            display: none;
          }
        }

        .bidder {
          @include border-radius(20px);
          vertical-align: middle;
          height: 40px;
          width: 40px;
          margin-right: 10px;
        }

      }

      .add-bid button {
        @include button(#33aa33);
        padding: 0 10px;
        &.hide {
          display: none;
        }
      }

      .remove-bid {
        @include button(#e33333);
        padding: 0 10px;
        &.hide {
          display: none;
        }
      }

      form {
        input {
          width: 20px;
          margin: 1px 2px 0 0;
        }
      }
    }
  }
}
