<_within file="application.html">
  <div id="content">
    <div class="wait" template="wait" field="id:id">
      <h2>Waiting for others to answer</h2>

      <ul id="answers">
        <li template="wait-answer" field="id:id,class:class">
          <span class="player" field="content:player">Murphy</span> <span class="answer" field="content:answer">8</span>
        </li>
        <li class="me">
          <span class="player">Me</span> <span class="answer">12</span>
        </li>
        <li>
          <span class="player">Sam</span> <span class="answer">12</span>
        </li>
      </ul>
    </div>
  </div>
</_within>
