<_within file="application.html">
  <div id="content">
    <div template="hello" field="id:id">
      <header>
        <h1>Witz and Wagerz</h1>
        <dl id="stats">
          <dt>Chips</dt>
          <dd>14</dd>
        </dl>
      </header>
      <div id="board">
        <ul class="slots">
          <li>
            <p>Smaller</p>
            <small>pays 6 to 1</small>
            <ul class="bids">
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                1
              </li>
            </ul>
          </li>
          <li>
            <img class="author" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
            <p>10</p>
            <small>pays 5 to 1</small>
            <ul class="bids">
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                2
              </li>
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                3
              </li>
              <li class="me">
                <button>-</button>
                  1
                <button>+</button>
              </li>
            <ul>
          </li>
          <li>
            <img class="author" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
            <p>12</p>
            <small>pays 4 to 1</small>
            <ul class="bids">
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                3
              </li>
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                1
              </li>
            <ul>
          </li>
          <li>
            <img class="author" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
            <p>14</p>
            <small>pays 3 to 1</small>
            <ul class="bids">
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                1
              </li>
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                3
              </li>
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                2
              </li>
            <ul>
          </li>
          <li>
            <img class="author" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
            <p>18</p>
            <small>pays 2 to 1</small>
            <ul class="bids">
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                1
              </li>
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                3
              </li>
            <ul>
          </li>
          <li>
            <img class="author" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
            <p>31</p>
            <small>pays 3 to 1</small>
            <ul class="bids">
            <ul>
          </li>
          <li>
            <img class="author" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
            <p>34</p>
            <small>pays 4 to 1</small>
            <ul class="bids">
              <li class="me">
                <button>-</button>
                  1
                <button>+</button>
              </li>
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                3
              </li>
            <ul>
          </li>
          <li>
            <img class="author" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
            <p>57</p>
            <small>pays 5 to 1</small>
            <ul class="bids">
              <li>
                <img class="bidder" src="https://s.gravatar.com/avatar/75b162d9c925b3cfb4d20322307be5d0?s=80" />
                1
              </li>
            <ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</_within>
